<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Trello regression">
    <test name="All test suites">
        <classes>
            <class name="automation.after_saving.SavedScenarioTextManipulationsTest">
                <methods>
                    <include name="PreviewCRUDButtonsTest"/>
                    <include name="actionsOfCratedButtonsTest"/>
                    <include name="notificationsInHeaderTest"/>
                </methods>
            </class>
            <class name="automation.board_buttons.BoardButtonsTest">
                <methods>
                    <include name="addCardBoardButtonTest"/>
                    <include name="moveCardBoardButtonTest"/>
                    <include name="listBoardButtonTest"/>
                    <include name="sortBoardButtonTest"/>
                    <include name="otherBoardButtonTest"/>
                    <include name="jiraBoardButtonTest"/>
                    <include name="slackBoardButtonTest"/>
                </methods>
            </class>
            <class name="automation.calendar.CalendarTest">
                <methods>
                    <include name="scheduleInCalendarCommandTest"/>
                </methods>
            </class>
            <class name="automation.card_buttons.CardButtonsTest">
                <methods>
                    <include name="moveCardButtonTest"/>
                    <include name="addRemoveCardButtonTest"/>
                    <include name="dateCardButtonTest"/>
                    <include name="checklistCardButtonTest"/>
                    <include name="membersCardButtonTest"/>
                    <include name="contentCardButtonTest"/>
                    <include name="fieldsCardButtonTest"/>
                    <include name="sortCardButtonTest"/>
                    <include name="cascadeCardButtonTest"/>
                    <include name="jiraCardButtonTest"/>
                    <include name="slackCardButtonTest"/>
                </methods>
            </class>
            <class name="automation.due_date.DueDateTest">
                <methods>
                    <include name="dueDateCommandTest"/>
                </methods>
            </class>
            <class name="automation.rules.RulesTest">
                <methods>
                    <include name="cardMoveRulesTest"/>
                    <include name="cardChangeRulesTest"/>
                    <include name="datesRulesTest"/>
                    <include name="checklistRulesTest"/>
                    <include name="cardContentRulesTest"/>
                    <include name="fieldsRulesPremiumRequireTest"/>
                </methods>
            </class>
            <class name="boards.BoardsPageManipulationTest">
                <methods>
                    <include name="recentlyViewedTest"/>
                    <include name="yourWorkspacesTest"/>
                </methods>
            </class>
            <class name="boards.LeftNavigationDrawerTest">
                <methods>
                    <include name="addAndCloseBoardsTest"/>
                    <include name="duplicatingBoardsFunctionalityTest"/>
                </methods>
            </class>
            <class name="boards.WorkspaceBoardsTest">
                <methods>
                    <include name="boardsCreationBeginTest"/>
                    <include name="boardsCreationContinueTest"/>
                    <include name="boardsFreeAccountLimitCounterContinueTest"/>
                    <include name="boardsAddToFavouriteTest"/>
                    <include name="boardsFilterMenuTest"/>
                </methods>
            </class>
            <class name="cards.card_list_preview_page.CardListPreviewPageTest">
                <methods>
                    <include name="addAnotherListTest"/>
                    <include name="addCardTest"/>
                    <include name="droprightMenuTest"/>
                    <include name="cardTemplateTest"/>
                </methods>
            </class>
            <class name="cards.fullscreen_card_mode.FullscreenCardModeTest">
                <methods>
                    <include name="titleTest"/>
                    <include name="inListTest"/>
                    <include name="descriptionTest"/>
                    <include name="attachmentsFromPCTest"/>
                    <include name="attachmentsFromTrelloTest"/>
                    <include name="attachmentsFromGoogleDriveTest"/>
                    <include name="attachmentsFromDropboxTest"/>
                    <include name="attachmentsFromBoxTest"/>
                    <include name="attachmentsFromOnedriveTest"/>
                    <include name="attachmentsByLinkTest"/>
                    <include name="writeCommentTest"/>
                    <include name="addMembersToCardTest"/>
                    <include name="labelsTest"/>
                    <include name="checklistTest"/>
                    <include name="datesTest"/>
                    <include name="customFieldsPremiumRequireTest"/>
                    <include name="showHideButtonTest"/>
                    <include name="cardsFullscreenOpeningTest"/>
                    <include name="powerUpsFunctionalityTest"/>
                    <include name="actionsMenuTest"/>
                    <include name="shareButtonTest"/>
                </methods>
            </class>
            <class name="cards.header.CardsHeaderTest">
                <methods>
                    <include name="boardViewSwitcherPremiumRequireTest"/>
                    <include name="boardNameChangingTest"/>
                    <include name="starButtonClickableTest"/>
                    <include name="changeAndShowWorkspacesTest"/>
                    <include name="workspaceVisibleChangeTest"/>
                    <include name="workspaceVisibleChangeContinueTest"/>
                    <include name="powerUpsFunctionalityTest"/>
                    <include name="filterTest"/>
                </methods>
            </class>
            <class name="cards.right_navigation_drawer.RightNavigationDrawerTest">
                <methods>
                    <include name="changeWorkspaceTest"/>
                    <include name="cardCoverTest"/>
                    <include name="commentingPermissionsTest"/>
                    <include name="addRemovePermissionsTest"/>
                    <include name="allowWorkspaceMembersToEditAndJoinTest"/>
                    <include name="labelsDisplayingOnCardsTest"/>
                    <include name="collectionsPremiumRequireTest"/>
                    <include name="tryPremiumFirstModuleTest"/>
                    <include name="archivedItemsTest"/>
                    <include name="addCardsViaEmailTest"/>
                    <include name="watchAndEmailNotificationTest"/>
                    <include name="makeTemplatePremiumRequireTest"/>
                    <include name="copyBoardTest"/>
                    <include name="printAndExportTest"/>
                    <include name="closeBoardTest"/>
                    <include name="linkToThisBoardTest"/>
                    <include name="qrCodeTest"/>
                    <include name="aboutThisBoardFormattingTest"/>
                    <include name="commentOnCardTest"/>
                    <include name="changeCardBackgroundTest"/>
                    <include name="customFieldPremiumRequireTest"/>
                    <include name="tryPremiumSecondModuleTest"/>
                    <include name="stickersTest"/>
                    <include name="activityTest"/>
                </methods>
            </class>
            <class name="login.ForgotPasswordTest">
                <methods>
                    <include name="restoreForgottenPasswordTest"/>
                </methods>
            </class>
            <class name="login.LoginThroughTrelloTest">
                <methods>
                    <include name="loginWithinIncorrectCredentialsPartOneTest"/>
                    <include name="loginWithinIncorrectCredentialsPartTwoTest"/>
                    <include name="loginWithinIncorrectCredentialsPartThreeTest"/>
                    <include name="loginWithinCorrectCredentialsTest"/>
                </methods>
            </class>
            <class name="login.SocialMediaLoginTest">
                <methods>
                    <include name="socialMediaLoginGoogleTest"/>
                    <include name="socialMediaLoginMicrosoftTest"/>
                    <include name="socialMediaLoginAppleTest"/>
                </methods>
            </class>
            <class name="register.RegisterUserTest">
                <methods>
                    <include name="registerNewUserThroughTrelloTest"/>
                    <include name="registerWithExistingDataTest"/>
                </methods>
            </class>
            <class name="settings.SettingsTest">
                <methods>
                    <include name="profileAndVisibilityTest"/>
                    <include name="activityTest"/>
                    <include name="cardsTest"/>
                    <include name="changeLanguageTest"/>
                    <include name="changeNotificationEmailFrequencyTest"/>
                    <include name="allowDesktopNotificationsTest"/>
                    <include name="enableDisableSuggestionsTest"/>
                    <include name="optOutOfMarketingEmailsTest"/>
                    <include name="enableColorBlindFriendlyModeTest"/>
                    <include name="applicationsTest"/>
                    <include name="manageYourRecentDevicesTest"/>
                    <include name="configureTwoFAAuthenticationTest"/>
                    <include name="downloadPersonalDataTest"/>
                    <include name="manageOrDeleteAccountTest"/>
                </methods>
            </class>
            <class name="workspaces.WorkspaceListPageTest">
                <methods>
                    <include name="changeInformationAboutWorkspaceTest"/>
                    <include name="workspaceTableTabPremiumRequireTest"/>
                    <include name="workspaceTableLeftNavigationDrawerPremiumRequireTest"/>
                    <include name="createNewWorkspaceFromLeftNavigationDrawerOnBoardsTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>